DEBUG=True
SECRET_KEY=replace-me
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/spotify_wrapped
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/spotify/callback/
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=UTC
SECURE_SSL_REDIRECT=False
